@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
  --step-size: 2.5rem;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right bottom,
    #fff,
    #dbdbdb,
    #b8b8b8,
    #969696,
    #767676
  );
  font-family: "Ubuntu Mono", monospace;
  font-size: 22px;
  place-items: center;
}
.clock {
  display: flex;
  align-items: flex-start;
  transform: translateY(40%);

  > * {
    position: relative;
    width: 1.2rem;
    padding: 0.5rem 0.8rem;
    margin: 0 2rem;
    background: #999;
    border-radius: 5px;
    box-shadow: -8px -8px 16px rgb(255, 255, 255),
      8px 8px 12px rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 1.8;
    text-align: center;
    transition: transform 400ms ease-in-out;
    word-wrap: break-word;

    &:nth-child(2n) {
      left: -2rem;
    }
    &::after {
      position: absolute;
      top: -0.1rem;
      left: -0.1rem;
      display: grid;
      width: 3rem;
      height: 3rem;
      background: #777;
      border-radius: 50%;
      box-shadow: -8px -8px 12px #fff, 8px 5px 12px rgba(0, 0, 0, 0.7);
      content: attr(data-active);
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 0;
      place-items: center;
      transition: transform 400ms ease-in-out;
    }
  }
}

@for $i from 1 through 9 {
  [data-active="#{$i}"] {
    transform: translateY(calc(-#{$i} * var(--step-size)));

    &::after {
      transform: translateY(calc(#{$i} * var(--step-size)));
    }
  }
}
