@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    --step-size: 2.5rem;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    background: #ccc;
}
.clock {
    display: flex;
    align-items: flex-start;
    transform: translateY(40%);
}
.clock > * {
    position: relative;
    width: 1.2rem;
    margin: 2rem;
    padding: .5rem .8rem;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.8;
    background: #999;
    border-radius: 5px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: all 400ms ease-in-out;

}
.clock > *::after {
     content: attr(data-active);
     position: absolute;
     left: -0.1rem;
     top: -0.1rem;
     display: grid;
     place-items: center;
     width: 3rem;
     height: 3rem;
     font-size: 1.6rem;
     line-height: 0;
     font-weight: bold;
     background: #777;
     border-radius: 50%;
     box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 15px rgba(0, 0, 0, 0.5);
     transition: all 400ms ease-in-out;
 }
.clock > *:nth-child(2n) {
    left: -2rem;
}

[data-active='1'] {
    transform: translateY(calc(-1 * var(--step-size)));
}
[data-active='2'] {
    transform: translateY(calc(-2 * var(--step-size)));
}
[data-active='3'] {
    transform: translateY(calc(-3 * var(--step-size)));
}
[data-active='4'] {
    transform: translateY(calc(-4 * var(--step-size)));
}
[data-active='5'] {
    transform: translateY(calc(-5 * var(--step-size)));
}
[data-active='6'] {
    transform: translateY(calc(-6 * var(--step-size)));
}
[data-active='7'] {
    transform: translateY(calc(-7 * var(--step-size)));
}
[data-active='8'] {
    transform: translateY(calc(-8 * var(--step-size)));
}
[data-active='9'] {
    transform: translateY(calc(-9 * var(--step-size)));
}

[data-active='1']::after {
    transform: translateY(calc(1 * var(--step-size)));
}
[data-active='2']::after {
    transform: translateY(calc(2 * var(--step-size)));
}
[data-active='3']::after {
    transform: translateY(calc(3 * var(--step-size)));
}
[data-active='4']::after {
    transform: translateY(calc(4 * var(--step-size)));
}
[data-active='5']::after {
    transform: translateY(calc(5 * var(--step-size)));
}
[data-active='6']::after {
    transform: translateY(calc(6 * var(--step-size)));
}
[data-active='7']::after {
    transform: translateY(calc(7 * var(--step-size)));
}
[data-active='8']::after {
    transform: translateY(calc(8 * var(--step-size)));
}
[data-active='9']::after {
    transform: translateY(calc(9 * var(--step-size)));
}